USE [LeadManagementDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/15/2026 9:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeadActivities]    Script Date: 7/15/2026 9:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeadActivities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LeadId] [int] NOT NULL,
	[FromStatusId] [int] NOT NULL,
	[ToStatusId] [int] NOT NULL,
	[ChangedAt] [datetimeoffset](7) NOT NULL,
	[Note] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_LeadActivities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leads]    Script Date: 7/15/2026 9:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Phone] [nvarchar](40) NOT NULL,
	[Company] [nvarchar](160) NOT NULL,
	[StatusId] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Leads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 7/15/2026 9:00:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](80) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[ColorCode] [varchar](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260715090835_InitialCreate', N'10.0.10')
GO
SET IDENTITY_INSERT [dbo].[LeadActivities] ON 

INSERT [dbo].[LeadActivities] ([Id], [LeadId], [FromStatusId], [ToStatusId], [ChangedAt], [Note]) VALUES (1, 2, 1, 2, CAST(N'2026-06-26T11:00:00.0000000+00:00' AS DateTimeOffset), N'Status changed by user')
INSERT [dbo].[LeadActivities] ([Id], [LeadId], [FromStatusId], [ToStatusId], [ChangedAt], [Note]) VALUES (2, 3, 1, 2, CAST(N'2026-06-23T09:30:00.0000000+00:00' AS DateTimeOffset), N'Status changed by user')
INSERT [dbo].[LeadActivities] ([Id], [LeadId], [FromStatusId], [ToStatusId], [ChangedAt], [Note]) VALUES (3, 3, 2, 3, CAST(N'2026-06-24T14:10:00.0000000+00:00' AS DateTimeOffset), N'Status changed by user')
SET IDENTITY_INSERT [dbo].[LeadActivities] OFF
GO
SET IDENTITY_INSERT [dbo].[Leads] ON 

INSERT [dbo].[Leads] ([Id], [FirstName], [LastName], [Email], [Phone], [Company], [StatusId], [CreatedAt]) VALUES (1, N'Aisha', N'Khan', N'aisha.khan@example.com', N'+971 50 555 0101', N'Northstar Digital', 1, CAST(N'2026-06-25T08:15:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[Leads] ([Id], [FirstName], [LastName], [Email], [Phone], [Company], [StatusId], [CreatedAt]) VALUES (2, N'David', N'Brown', N'david.brown@example.com', N'+971 50 555 0102', N'BluePeak Logistics', 2, CAST(N'2026-06-24T10:30:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[Leads] ([Id], [FirstName], [LastName], [Email], [Phone], [Company], [StatusId], [CreatedAt]) VALUES (3, N'Maria', N'Garcia', N'maria.garcia@example.com', N'+971 50 555 0103', N'Vertex Consulting', 3, CAST(N'2026-06-22T13:45:00.0000000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[Leads] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([Id], [Name], [DisplayOrder], [ColorCode], [IsActive]) VALUES (1, N'New', 1, N'#0D6EFD', 1)
INSERT [dbo].[Statuses] ([Id], [Name], [DisplayOrder], [ColorCode], [IsActive]) VALUES (2, N'Contacted', 2, N'#FFC107', 1)
INSERT [dbo].[Statuses] ([Id], [Name], [DisplayOrder], [ColorCode], [IsActive]) VALUES (3, N'Qualified', 3, N'#198754', 1)
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
ALTER TABLE [dbo].[LeadActivities] ADD  DEFAULT (sysutcdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[Leads] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Statuses] ADD  DEFAULT ('#0D6EFD') FOR [ColorCode]
GO
ALTER TABLE [dbo].[Statuses] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[LeadActivities]  WITH CHECK ADD  CONSTRAINT [FK_LeadActivities_Leads_LeadId] FOREIGN KEY([LeadId])
REFERENCES [dbo].[Leads] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeadActivities] CHECK CONSTRAINT [FK_LeadActivities_Leads_LeadId]
GO
ALTER TABLE [dbo].[LeadActivities]  WITH CHECK ADD  CONSTRAINT [FK_LeadActivities_Statuses_FromStatusId] FOREIGN KEY([FromStatusId])
REFERENCES [dbo].[Statuses] ([Id])
GO
ALTER TABLE [dbo].[LeadActivities] CHECK CONSTRAINT [FK_LeadActivities_Statuses_FromStatusId]
GO
ALTER TABLE [dbo].[LeadActivities]  WITH CHECK ADD  CONSTRAINT [FK_LeadActivities_Statuses_ToStatusId] FOREIGN KEY([ToStatusId])
REFERENCES [dbo].[Statuses] ([Id])
GO
ALTER TABLE [dbo].[LeadActivities] CHECK CONSTRAINT [FK_LeadActivities_Statuses_ToStatusId]
GO
ALTER TABLE [dbo].[Leads]  WITH CHECK ADD  CONSTRAINT [FK_Leads_Statuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([Id])
GO
ALTER TABLE [dbo].[Leads] CHECK CONSTRAINT [FK_Leads_Statuses_StatusId]
GO
